<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login & Registration Form</title>
  <!---Custom CSS File--->
  <link rel="stylesheet" href="../../static/css/register.css">
</head>
<body>
  <div class="container">
    <div class="registration form">
      <header>Signup</header>
			{% with messages = get_flashed_messages(category_filter=['user_error'])  %}
			{% if messages %}
				<div class="messages">
					{{ messages[0] }}
				</div>
			{% endif %}
			{% endwith %}
      <form action="/signup" name="signupForm" method="POST">
				<input type="text"  id="signupname" name="username" placeholder="Enter Username" required minlength="4" maxlength="20">
			{% with messages = get_flashed_messages(category_filter=['email_error'])  %}
			{% if messages %}
				<div class="messages">
					{{ messages[0] }}
				</div>
			{% endif %}
			{% endwith %}
				<input type="text"  id="signupemail" name="email" placeholder="Enter your email" required minlength="5" maxlength="50">
        <input type="password" id="signpassword"  name="password" placeholder="Create a password" required minlength="8" maxlength="20">
        <input type="submit" class="button" value="Signup">
      </form>
      <div class="signup">
					Already have an account?
					<label for="check">
						<a href="{{ url_for('app_views.login') }}">Login</a>
					</label>
      </div>

    </div>
  </div>
</body>
</html>
